@font-face {
    font-family: 'OpenDyslexic'; /* Name your custom font */
    src: url('fonts/OpenDyslexic-Regular.woff2') format('woff2'), /* The font file location */
    url('fonts/OpenDyslexic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}
/*=================*/
/* General Styles */
/*=================*/
/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

/* Header Styling */
header {
    background: linear-gradient(135deg, #00ccad, #004c99);
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: fadeInDown 0.5s ease-out;
    padding: 20px 0; /* Adds padding to the top and bottom */
}

/* Header Container */
header .container {
    display: flex; /* Enables flexbox for alignment */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    justify-content: center; /* Ensure elements are centered vertically */
    width: 100%; /* Full width of the viewport */
    margin-top: -60px;
    margin-bottom: -25px;
    box-sizing: border-box; /* Include padding in the width/height calculations */
}

/* Header Title */
header h1 {
    margin: 0; /* Removes unnecessary margin */
    text-align: center; /* Ensures text is centered */
    font-size: 2rem; /* Adjust as needed */
}

/* Navigation Menu */
nav ul {
    display: flex; /* Align list items horizontally */
    justify-content: center; /* Centers the list items horizontally */
    list-style: none; /* Removes bullet points */
    margin: 10px 0 0 0; /* Adds margin above the navigation menu */
    padding: 0; /* Removes padding */
}

/* Navigation Items */
nav ul li {
    margin: 0 15px; /* Adds spacing between list items */
}

/* Navigation Links */
nav ul li a {
    color: #ffffff; /* Text color */
    text-decoration: none; /* Removes underline */
    font-weight: bold; /* Makes text bold */
    transition: color 0.3s ease; /* Adds smooth color transition on hover */
}

nav ul li a:hover {
    color: #ffcc00; /* Highlight color on hover */
}


        /*=================*/
        /* Section Styling */
        /*=================*/
/* Responsible for the colour of    */
/*    The Pages background          */
section {
    background: #c3fff2;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(20px);
    opacity: 0;
    animation: slideUp 0.8s ease forwards;
}

section:nth-child(even) {
    background: #c3fff2;
}

section h2 {
    margin-bottom: 15px;
    font-size: 1.8rem;
    color: #007acc;
}

/* Text Box and Paragraph Formatting */
.text-box {
    margin-left: -60px;
    margin-right: -60px ;
    font-size: 1.2rem;
    line-height: 1.6;
    background-color: rgba(155, 202, 192, 0.24);
    border-radius: 15px;
    padding: 5px 5px ;
}

/* Indentation for Bullet Points */
ul {
    padding-left: 10%; /* Adds indentation for the list */
    
}

ul li {
    margin-bottom: 8px; /* Adds space between list items */
}


body {
    font-family: OpenDyslexic, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    scroll-behavior: smooth;
}

/* Button Styles */
.btn-link {
    background-color: #007acc;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-link:hover {
    background-color: #005fa3;
    transform: translateY(-2px);
}
/* Blog button style */
.blog-btn {
    background-color: #0066cc; /* Customize color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
}

.blog-btn:hover {
    background-color: #005fa3; /* Darker shade on hover */
}






h2 {
    color: #007acc;
    margin-bottom: 10px;
}

/* Layout */
.container {
    width: 80%;
    margin: 0 auto;
}




/* Parallax Background */
.parallax-background {
    opacity: 50%;
    position: fixed; /* Fixes the background relative to the viewport */
    top: 0;
    left: 0;
    width: 100%; /* Ensures it spans the entire width */
    height: 100%; /* Ensures it spans the entire height */
    z-index: -1; /* Moves it behind all other content */
    background: url('imgs/VS.png') no-repeat center center fixed; /* Parallax effect */
    background-size: cover; /* Ensures it always covers the screen */
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
/*===============================*/
/*     About Content Section    */
/*===============================*/

.about-content {
    display: grid; /* Use CSS Grid */
    grid-template-columns: 3fr; /* Single column by default */
    gap: 25px; /* Space between grid items */
    align-items: center; /* Vertically center items */
    text-align: center; /* Center text inside the items */
    margin: 20px auto; /* Add some vertical margin */
    width: 90%; /* Responsive width */
    
}
/*===============================*/
/*   Hobby and related Styling   */
/*===============================*/

/* Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Button */
.dropbtn {
    background-color: rgba(0, 122, 204, 0);
    color: white;
    border: none;
    font-family: OpenDyslexic, sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: -5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.dropbtn:hover, .dropbtn:focus {
    color: #ffcc00;

    outline: none;  /* Removes the focus outline */
}

/* Dropdown Content */
.dropdown-content {
    display: none; /* Hide by default */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 5px;
}

/* Dropdown item styles */
.dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #007acc;
    color: white;
}
/* tiktok button */
.tiktok-button {
    color: #ffffff;
    background-color: #fc2c54;
    padding: 4px 16px;
    text-decoration: none;
    display: block;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px
}
.tiktok-button:hover {
    background-color: #000000;
    color: white;
}

/* twitter button */
.twitter-button {
    color: #ffffff;
    background-color: #1ea0ef;
    padding: 4px 16px;
    text-decoration: none;
    display: block;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px
}
.twitter-button:hover {
    background-color: #000000;
    color: white;
}

/* instagram button */
.instagram-button {
    color: #ffffff;
    background-color: #db2475;
    padding: 4px 16px;
    text-decoration: none;
    display: block;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px
}
.instagram-button:hover {
    background-color: #000000;
    color: white;
}
/* Dropdown open state - show the menu on hover or focus */
.dropdown:hover .dropdown-content, .dropdown:focus-within .dropdown-content {
    display: block;
}
.hobbies-btn {
    background:#004c99;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hobbies-btn:hover {
    background: #ffcc00;
    color: #004c99;
}

.hobbies-btn:active {
    background-color: #004c87;
    transform: translateY(2px);
}

/*=======================*/
/*   Portfolio Styling   */
/*=======================*/
/* Profile Photo Container */
.profile-photo-container {
    display: flex; /* Flexbox for centering */
    justify-content: center;
}
.profile-photo {
    max-width: 100%; /* Responsive image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Circular image */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for aesthetics */
}

/* Description Styling */
.description {
    padding: 20px;
    display: inline;
    width: 120%;
}
.description p {
    margin: 0 0 20px 0; /* Spacing between paragraphs and buttons */
    
}
.description .hobbies-btn{
    
    width: auto;
    
}
/* Portfolio Styles */
.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-item {
    position: relative;
    width: 100%;
    max-width: 48%;
    margin-bottom: 20px;
    
}

.portfolio-item a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.portfolio-item a:hover img {
    transform: scale(1.05);
}

.project-name {
   
    bottom: 20px;
    justify-self: center;
    background: rgba(12, 12, 12, 0.7);
    color: #ffffff;
    padding: 5px;
    font-size: 0.9rem;
    border-radius: 10px;
   
   
}

.portfolio-item:hover .project-name {
    opacity: 1;
}
/* Portfolio Image */
.portfolio-img {
    
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-top: 20px;
    
    margin-bottom: 20px; /* Optional margin for spacing */
}


/*=======================*/
/*  Blog Related Styles  */
/*=======================*/
/* Blog Hub Container */
.blog-hub {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

/* Blog Item */
.blog-item {
    background: white;
    width: 100%;
    height: auto;
    max-width: 48%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    
}

.blog-item:hover {
    transform: translateY(-5px);
}

/* Blog Link (wraps both image and text) */
.blog-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
}

/* Blog Image */
.blog-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 5px solid #f0f0f0;
    
}

/* Blog Text */
.blog-text {
    
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.blog-text h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.blog-text .short-description {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Blog content */
#blog-content .blog-post-content {
    
    margin-top: 20px;
}

#blog-content h3 {
    margin-top: 20px;
    font-size: 1.3em;
}

/* General Styling */
.container {
    width: 80%;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/*=======================*/
/*    Smaller Screens    */
/*=======================*/

/* Mobile-First Approach */
@media (max-width: 600px) {
    
    .portfolio-item {
        width: 100%;
        margin-bottom: 15px;
    }

    .portfolio-item img {
        border-radius: 8px;
    }
    .portfolio-img{
        height: auto;
        width: 150%;
        margin-left: -25%;
    }
    .profile-photo {
        max-width: 150px;
    }
    
    .project-name {
        bottom: 10px;
        justify-self: center;
        background: rgba(12, 12, 12, 0.7);
        color: #ffffff;
        padding: 5px;
        font-size: 0.6rem;
        border-radius: 10px;
       
        
    }
    header {
        background: linear-gradient(135deg, #00ccad, #004c99);
        color: #fff;
        padding: -5px 0;
        position: sticky;
        top: 0;
        z-index: 1000;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        animation: fadeInDown 0.5s ease-out;
      
    }

    header .container {
        display: flex;
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center horizontally */
        justify-content: flex-start; /* Ensure header stays at the top */
        width: 100%; /* Full viewport width */
        margin-top: -10%;
        margin-bottom: -8%;
        padding: 20px; /* Add some space around the elements */
        box-sizing: border-box; /* Include padding in the width/height calculations */
    }
    header h1 {
       
        text-align: center;
        font-size: 1rem;
    }

    nav ul {
       
        text-align: center;
    }

    nav ul li {
      
        font-size: 0.7rem;
    
    }
    ul {
        margin-top: -10px;
    }
    footer {
        padding: 10px;
    }
    .blog-item {

        max-width: 100%;
    }

    .blog-text h3 {
        font-size: 1.2rem;
    }

    .blog-text .short-description {
        font-size: 0.9rem;
    }
    .text-box{
        font-size: 0.8rem;
    }
    .dropbtn
    {
        text-align: center;
        font-size: 0.8rem;
    }
    
    .profile-photo {
        margin: auto;
        max-width: 70%; /* Responsive image */
        height: auto; /* Maintain aspect ratio */
        border-radius: 50%; /* Circular image */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for aesthetics */
    }

    /* Description Styling */
    .description {
        display: inline;
        
        padding: 20px;
        width: 150%;
        
    }
    .description p {
        
        margin: 0 20% 20px -20%; /* Spacing between paragraphs and buttons */
       

    }
    .description .hobbies-btn{
        margin: 0 20% 20px -20%; /* Spacing between paragraphs and buttons */

    }
}

/* Tablet and Larger Screens */
@media (min-width: 768px) {
    .profile-photo {
        max-width: 200px;
    }
    .blog-item {
        max-width: 48%;
    }
    .about-content {
        grid-template-columns: 1fr 3fr; /* Two columns: photo + description */
        text-align: left; /* Align text to the left */
    }
}
/* Bigger screens */
@media (min-width: 1024px) {
    .container {
        width: 80%;
    }

    .portfolio-item {
        width: 30%;
    }

    .profile-photo {
        max-width: 300px;
    }
    .blog-item {
        max-width: 32%;
    }
}



/*=======================*/
/*       Animations      */
/*=======================*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsible for the smooth change from big to small */
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}